$black: #000;

.IDHTML {
  h1, h2 {
    text-transform: uppercase;
  }

  .row {
    border-bottom: 1px dashed $black;
  }

  .row > * {
    padding: 3rem;
  }

  .certData {
    word-break: break-all;
  }

  @media only screen and (min-width: 768px) {
    .row > div:first-child {
      border-right: 1px dashed $black;
    }
  }
}
